# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias de Node (pesan muchísimo y se instalan con npm install)
node_modules/

# Producción / Compilación
build/
dist/

# Variables de entorno con URLs de API y llaves
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db